.bingo {
    max-width: 70vh;
    margin: 0 auto;
    padding: 4px;
}

.bingo-main {
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 200px));
    border-top: 1px solid black;
    border-left: 1px solid black;

    & > div {
        aspect-ratio: 1/1;
        overflow: hidden;
        word-break: break-all;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }
}

@media (max-width: 521px) {
    .bingo {
        max-width: 50vh;
    }
}