<div #bingo class="bingo">
    <h2 contenteditable class="text-center">Bingo!</h2>
    <div class="bingo-main">
        <ng-container *ngFor="let x of [].constructor(25); let cell = index">
            <div class="bingo-img-cell font-48" *ngIf="cell === 12; else editable">
                FREE
            </div>
            <ng-template #editable>
                <div class="bingo-editable-cell font-24" responsiveText contenteditable>
                    
                </div>
            </ng-template>
        </ng-container>
    </div>
</div>