.bingo-wrapper {
    margin: 0 auto;
}

app-bingo-wrapper {
    display: block;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.download-btn {
    cursor: pointer;
    max-width: 500px;
    margin-top: 28px;
}